name: Create published=true pull request
on:
  pull_request:
    branches:
      - master
    types: [closed]

jobs:
  create-pr:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: Checkout with merge commit and previous commit
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
      - name: Create published=true pull-request
        uses: korosuke613/zenn-metadata-updater-action@eb30e43ce6575fbba4420bb8653d4c266abb26fb # v3.0.3
        with:
          published: true
          force-push: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
